body{
    background-color: rgb(144, 152, 136);
}

header ol{
    margin: 0;
}
header ol{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

body{
    margin: 0;
}

main{
    padding: 0;
}

.like-button{
    display: block;
    margin: 5px;
}